extends layout

block content

  div
    h1= title
    form(name='add-bike' method ='POST' action='/bikes')
      p Name:
        input(type='text' placeholder= 'Name' name='name')
      p
        button(type='submit') Add bike POST

    a(href='/bikes') Back to Home
